<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>The HTML5 Herald</title>
        <meta name="desciption" content="The HTML5 Herald">
        <meta name="author" content="HDD">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">
        <h1>HTML5</h1>
        <hr>

        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>

        <header>
                <nav></nav>
        </header>

        <div id="main" style="background-color:#8a2be2;">
            <div id="primary" style="background-color:orange" >
                <p>Primary Div</p>
                <article><p>primary article</p></article>
            </div>
            <div id="secondary" style="background-color:orange">
                <p>Secondary Div</p>
                <article><p>secondary article</p></article>
            </div>
            <div id="tertiary" style="background-color:orange">
                <p>Tertiary Div</p>
                <article><p>tertiary article</p></article>
            </div>

        </div> <!-- #main -->

        <footer>
            <section id="authors">
                <section></section>
            </section>
            <section id="copyright"></section>
        </footer>

        <script src="js/scripts.js"></script>

    </body>
</html>